{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#jinja2: lstrip_blocks: "True"
[Unit]
Description=Owncast Server ({{ owncast_identifier }})
{% for service in owncast_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in owncast_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ owncast_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ owncast_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ owncast_identifier }} \
			--log-driver=none \
			--user={{ owncast_uid }}:{{ owncast_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ owncast_container_network }} \
			{% if owncast_container_hostname %}
			--hostname={{ owncast_container_hostname }} \
			{% endif %}
			{% if owncast_container_http_host_bind_port %}
			-p {{ owncast_container_http_host_bind_port }}:{{ owncast_container_http_port }} \
			{% endif %}
			{% if owncast_container_rtmp_host_bind_port %}
			-p {{ owncast_container_rtmp_host_bind_port }}:{{ owncast_container_rtmp_port }}/tcp \
			{% endif %}
			--env-file={{ owncast_base_path }}/env \
			--label-file={{ owncast_base_path }}/labels \
			--health-interval={{ owncast_container_health_interval }} \
			--mount type=bind,src={{ owncast_data_path }},dst=/app/data \
			{% for arg in owncast_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ owncast_container_image }}

{% for network in owncast_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ owncast_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ owncast_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ owncast_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ owncast_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ owncast_identifier }}

[Install]
WantedBy=multi-user.target
