{% if owncast_container_labels_traefik_enabled %}
traefik.enable=true

{% if owncast_container_labels_traefik_docker_network %}
traefik.docker.network={{ owncast_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if owncast_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in owncast_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ owncast_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [owncast_identifier + '-add-request-headers'] %}
{% endif %}

{% if owncast_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in owncast_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ owncast_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [owncast_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ owncast_identifier }}.rule={{ owncast_container_labels_traefik_rule }}
{% if owncast_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ owncast_identifier }}.priority={{ owncast_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ owncast_identifier }}.service={{ owncast_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ owncast_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ owncast_identifier }}.entrypoints={{ owncast_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ owncast_identifier }}.tls={{ owncast_container_labels_traefik_tls | to_json }}
{% if owncast_container_labels_traefik_tls %}
traefik.http.routers.{{ owncast_identifier }}.tls.certResolver={{ owncast_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ owncast_identifier }}.loadbalancer.server.port=8080
{% endif %}

{{ owncast_container_labels_additional_labels }}
